@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$primary-font: 'Lato', sans-serif;
$bold: 700;

$bg-color: #8BBCCC;
$borders: #5C2E7E;
$nav-bg: #31C6D4;
$footer-bg: #4C6793;
$sorta-white: #EEF1FF;
$card-bd: #828282;

$tablet-breakpoint: 1024px;
$mobile-breakpoint: 576px;